<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans-4.2.xsd"
     default-lazy-init="true">
     
   
   <!-- 配置一个Bean(实例) 
   	   <bean/> : 创建类的对象
   	   id : 唯一的标识符(不能重复)
   	   class : 具体的类(包名+类名)
   	   lazy-init : 是否默认延迟初始化Bean
   -->
   <bean id="helloService" class="cn.itcast.service.HelloService" lazy-init="false"/> 	
   
   <bean id="helloService2" class="cn.itcast.service.HelloService"/> 		
   
    
</beans>